<%= provide(:title, "質問一覧") %>

<div class="container" id=questions>
  <div class="index-question">
    <% if @search_questions.blank? %>
      <%= render @questions %>
    <% else %>
      <%= render partial: "questions/question", collection: @search_questions %>
    <% end %> 
  </div>
</div>