<%= provide(:title, "Home") %>
  
<div class="jumbotron">
  <div class="container">
    <div class="top-content">
      <h1>健康をもっと身近に</h1>
      <p>Bocoはあなたの身体の悩みを</p><p>専門家に気軽に相談できるサービスです</p>
    </div>
    <% if !signed_in? %>
    <div class="top-link">
      <%= link_to"まずは会員登録", new_user_registration_path, class: "btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="main-content">
    <div class="main-text">
      <h1>こんな悩みを解決</h1>
      <p>●　なんだか身体が不調・・・。気軽にプロに相談したい。</p>
      <p>●　肩こりや腰痛で病院にいくのは・・・</p>
      <p>●　健康のために運動をしたい！　けど何をすれば良いわからない・・・。</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>テーマ１</h2>
        <p>見出し</p>
      </div>
      <div class="col-md-4">
        <h2>テーマ２</h2>
        <p>見出し</p>
      </div>
      <div class="col-md-4">
        <h2>テーマ３</h2>
        <p>見出し</p>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <div class="index-question">
    <h1>みんなの質問</h1>
    <%= render @questions%>
    <% if !admin_signed_in? %>
    <p class="more-question"><%= link_to"もっと質問を見る", questions_path(@questions), method: :get %></p>
    <% end %>
  </div>
</div>