<div>  
  <h3>コメント一覧</h3>  
  <div id="comment_area">  
    <%= render @comments %>
  </div>  
</div>  
<div id="flash_messages"></div>  
<div>  
  <h3>投稿する</h3>  
  <div id="comment_form">  
    <%= form_with(model: [commentable, comment]) do |f| %>  
    <%= f.text_area :content %>  
      <div class="actions">  
        <%= f.submit "コメントをする", class: "btn btn-info px-5" %>  
      </div>  
    <% end %> 
  </div>  
</div> 