<div class="question-container">
  <%= link_to experts_answer_path(answer), class:"no-underline", method: :get do%>
  <ul>
    <li class="title"><i class=fas fa-font>.</i></li>
    <p class="timestamp">
      <%= answer.created_at.strftime("%Y/%m/%d %H:%M") %>
    </p>
  </ul>
  <% end %>
</div>