$color-main: #148B9E;

footer {
  background-color: #F8F9FA;
  height: 5rem;
}

.footer-content{
  .footer-icon {
    color: $color-main;
    font-size: 1.5rem;
    text-decoration:none ;
  }
  .footer-link {
    color: black;
    font-size: 1rem;
    text-decoration:none ;
    &:hover {
      color: $color-main;
    }
  }
  .left {
    float: left;
  }
  .right {
    text-align: right; 
  }
}